/*
admin-customizer stats4wp
*/
/*
Variables global
*/
/*
Base
*/
.stats4wp-report-table tr.stats4wp-bg td {
  background-color: #f8f8f8;
}

.stats4wp-percent {
  background-color: #058dc7;
  display: inline;
  float: left;
  height: 1.17em;
  margin: 0 10px 0 0;
  min-width: 1px;
  -webkit-print-color-adjust: exact;
}

.stats4wp-nowrap {
  white-space: nowrap;
}

.stats4wp-left {
  text-align: left;
  width: 150px;
  padding-left: 8px;
  padding-right: 8px;
}

.stats4wp-right {
  max-width: 200px;
  padding-left: 8px;
  padding-right: 8px;
  text-align: right;
  width: 100px;
}

.stats4wp-nav-tabs {
  float: left;
  width: 100%;
  margin: 0;
  list-style-type: none;
  border-bottom: 1px solid transparent;
}
.stats4wp-nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}
.stats4wp-nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.5;
  padding: 10px;
  border: 1px solid rgb(83.6363636364, 83.6363636364, 83.6363636364);
  border-radius: 4px 4px 0 0;
  float: left;
  text-decoration: none;
  color: rgb(83.6363636364, 83.6363636364, 83.6363636364);
}
.stats4wp-nav-tabs > li > a:hover {
  border-color: #eee #eee #ddd;
}
.stats4wp-nav-tabs > li > a:focus {
  box-shadow: 0 0 0 1px rgb(83.6363636364, 83.6363636364, 83.6363636364), 0 0 2px 1px rgb(117.5, 117.5, 117.5);
}
.stats4wp-nav-tabs > li.active > a, .stats4wp-nav-tabs > li.active > a:hover, .stats4wp-nav-tabs > li.active > a:active, .stats4wp-nav-tabs > li.active > a:focus {
  color: #fff;
  cursor: default;
  background-color: rgb(83.6363636364, 83.6363636364, 83.6363636364);
  border-color: rgb(83.6363636364, 83.6363636364, 83.6363636364);
}

.stats4wp-tab-content > .stats4wp-tab-pane {
  float: left;
  width: 98%;
  display: none;
}
.stats4wp-tab-content > .stats4wp-tab-pane.active {
  display: block;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 5px 4px -2px rgba(0, 0, 0, 0.15);
}

.form-table th {
  width: 50%;
}

table.form-table-visitor {
  box-shadow: 8px 8px 12px rgb(117.5, 117.5, 117.5);
}

.form-table-visitor th {
  width: 15%;
}

div.ui-toggle {
  margin: 0;
  padding: 0;
}
div.ui-toggle input[type=checkbox] {
  display: none;
}
div.ui-toggle input[type=checkbox]:checked + label {
  border-color: #ce9e27;
  background: #ce9e27;
  box-shadow: inset 0 0 0 10px #ce9e27;
}
div.ui-toggle input[type=checkbox]:checked + label > div {
  margin-left: 20px;
}
div.ui-toggle label {
  transition: all 200ms ease;
  display: inline-block;
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: #5c5c5c;
  box-shadow: inset 0 0 0 0 #ce9e27;
  border: 2px solid #5c5c5c;
  border-radius: 22px;
  width: 40px;
  height: 20px;
}
div.ui-toggle label div {
  transition: all 200ms ease;
  background: #FFFFFF;
  width: 20px;
  height: 20px;
  border-radius: 10px;
}
div.ui-toggle label:hover, div.ui-toggle label > div:hover {
  cursor: pointer;
}
div.ui-toggle.mb-10 {
  margin-bottom: 10px;
}

.stats4wp-footer-copyright p {
  text-align: right;
}

/*
* Dashboard Header Total Stats
*/
.stats4wp-db-container {
  background: #2e363f;
  color: #fff;
  padding: 24px;
  margin-bottom: 12px;
  display: flex;
  border-radius: 6px;
}

.stats4wp-db-box {
  display: block;
  margin-right: 48px;
}

.fade {
  animation: fadein 0.4s;
}

.stats4wp-db-label {
  color: #eee;
  margin-bottom: 6px;
  font-size: 14px;
}

.stats4wp-db-amount {
  display: block;
  line-height: 48px;
  font-size: 48px;
  font-weight: 500;
  letter-spacing: -1px;
  margin-bottom: 6px;
}

.stats4wp-db-amount span {
  font-size: 0.4em;
  font-weight: normal;
  vertical-align: top;
  letter-spacing: normal;
}

.stats4wp-db-compare {
  color: #eee;
}

.neutral {
  color: #aaa;
}

.up {
  color: #32cd32;
}

.down {
  color: #fb7272;
}

/*
* Dashboard next
*/
p.stats4wp-min {
  font-size: 18px !important;
}

.rows.stats4wp-dashboard-header p {
  font-size: 23px;
  margin: 0;
  padding: 9px 0 4px 0;
  line-height: 1.3;
  text-align: center;
  font-weight: bold;
}

.stats4wp-dashboard {
  background-color: #fff;
  padding: 20px 10px;
}

.stats4wp-rows {
  display: flex;
  justify-content: center;
}

.stats4wp-inline {
  display: inline-block;
}

.stats4wp-inline.width30 {
  width: 30%;
}

.stats4wp-inline.width46 {
  width: 46%;
}

.stats4wp-inline.width94 {
  width: 94%;
}

.stats4wp-inline p {
  margin: 0px;
}

.stats4wp-dashboard p.title {
  font-size: 15px;
  font-weight: bold;
}

.stats4wp-inline.border {
  box-shadow: 12px 12px 2px 1px #aaa;
  border: 2px solid #333;
  margin: 10px;
}

.metabox-holder {
  padding-top: 10px;
}

#stats4wp-postbox-container-1 {
  width: 30%;
  float: left;
}

#stats4wp-postbox-container-2 {
  margin: 0 0 0 1%;
  width: 68%;
  float: right;
}

#stats4wp-summary-widget, #stats4wp-browsers-widget, #stats4wp-platforms-widget, #stats4wp-useronline-widget, #stats4wp-pages-widget, #stats4wp-topvisitors-widget, #stats4wp-recentvisitors-widget, #stats4wp-nb-users-hits-widget {
  overflow: hidden;
}

.postbox {
  background: #FFFFFF;
  border: 0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0784313725);
  border-radius: 2px;
  padding: 0;
  position: relative;
  min-width: 255px;
  margin-bottom: 20px;
  line-height: 1;
}

.postbox .postbox-header {
  padding: 7px 15px;
  border-bottom: 1px solid #E7E7E7;
}

.postbox-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #c3c4c7;
}

.postbox .postbox-header h2 {
  padding: 0;
}

.meta-box-sortables .inside {
  padding: 15px !important;
}

.table-stats {
  border: 0 none !important;
}

.table-stats tr, .table-stats td {
  border-bottom: 1px solid #efeeee;
  background-color: white;
  transition: 1s all;
}

.table-stats tr:first-child td {
  border: 0 none;
  text-align: left;
}

.stats4wp-summary-stats span {
  color: #21759B !important;
  font-family: Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
  font-size: 21px;
}

.stats4wp-summary-stats tr:first-child th {
  border-top: 0 none;
}

#th-colspan {
  text-align: center;
}

#th-colspan span {
  color: #459605 !important;
  font-size: 30px;
}

table.stats4wp-table-fixed {
  table-layout: fixed;
  width: 100%;
}

.stats4wp-report-table tr:first-child {
  background: none repeat scroll 0 0 #EEEEEE;
  font-weight: bold;
  text-align: center;
}

.stats4wp-text-wrap {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  width: 100% !important;
}

.stats4wp-text-danger {
  color: #DC3545 !important;
}

.th-center {
  text-align: center !important;
}

#time_zone a {
  font-size: 11px;
  text-decoration: none;
}

.stats4wp-engine-logo {
  vertical-align: -3px;
}

._S4WPt {
  width: 100%;
}

._S4WPtr {
  vertical-align: top;
}

._S4WPc0 {
  margin: 10px 0 30px;
  text-align: left;
}

._S4WPb-_S4WPci-_S4WPhi {
  position: relative;
  display: -moz-inline-box;
  display: inline-block;
}

._S4WPYd {
  margin: 15px 0 10px 10px;
  width: 180px;
}

._S4WPYd {
  border-bottom: 0 none;
  border-right: 1px solid #cbcbcb;
  text-align: left;
}

._S4WPYd ._S4WPYs {
  color: #222;
  display: block;
  font-size: 13px;
  font-weight: normal;
}

._S4WPgmb {
  cursor: pointer;
}

._S4WPYs {
  font-size: 17px;
  margin: 0;
}

._S4WPYd ._S4WPvo, ._S4WPYd ._S4WPBh {
  display: inline-block;
}

._S4WPvo, ._S4WPBh {
  margin: 5px auto;
  text-align: left;
}

._S4WPGu {
  color: #222;
  font-size: 24px;
  max-width: 160px;
  min-width: 65px;
  word-wrap: break-word;
}

canvas {
  background-color: #fff;
  box-shadow: 12px 12px 2px 1px #aaa;
  border: 2px solid #333;
  margin: 10px;
}

.stats4wp-top {
  background-color: #fff;
  padding: 20px 10px;
}

.stats4wp-width {
  width: 100%;
}

/* Style the buttons that are used to open and close the accordion panel */
.stats4wp-accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 2px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.stats4wp-active, .stats4wp-accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

#stats4wp-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

ul#stats4wp-menu {
  background-color: #fff;
  padding: 20px 10px;
}

#stats4wp-menu li {
  display: inline;
  margin-right: 1px;
  color: #fff;
  background: #5c5c5c;
}

#stats4wp-menu li a {
  padding: 4px 20px;
  background: rgb(117.5, 117.5, 117.5);
  color: #fff;
  border: 1px solid rgb(83.6363636364, 83.6363636364, 83.6363636364);
  font: 1em "Trebuchet MS", Arial, sans-serif;
  line-height: 1em;
  text-align: center;
  text-decoration: none;
}

#stats4wp-menu li a.active {
  background: rgb(83.6363636364, 83.6363636364, 83.6363636364);
}

#stats4wp-menu li a:hover, #stats4wp-menu li a:focus, #stats4wp-menu li a:active {
  background: rgb(83.6363636364, 83.6363636364, 83.6363636364);
  text-decoration: underline;
}

.stats4wp-infos .form-table th {
  width: 40%;
}

.stats4wp-infos {
  box-sizing: border-box;
  width: 70%;
  float: left;
  padding-right: 30px;
  padding-top: 25px;
}

.stats4wp-advertise {
  float: right;
  max-width: 335px;
  width: 30%;
}

.stats4wp-support {
  background-color: #f0f0f1;
  padding: 13px;
  margin-top: 25px;
  box-shadow: 8px 8px 12px #767676;
}

.stats4wp-support h3 {
  margin-bottom: 0;
}

a.stats4wp-stars {
  color: #ffb900;
  text-decoration: none;
  font-size: large;
}

div#stats4wp-dismiss-geochart {
  display: flex;
}

.stats4wp-geochart-img {
  margin-right: 1em;
  margin-left: 1em;
}

.stats4wp-geochart-txt {
  margin-top: inherit;
}

.stats4wp-maps {
  margin: auto;
  width: 50%;
}